/* Style du bouton */
.btn-1 {
  position: relative;
  overflow: hidden;
  border-radius: 12px; /* Assurez-vous qu'il correspond à celui du bouton */
  padding: 12px 24px;
}

/* Pseudo-élément pour l'effet autour des bordures */
.btn-1::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: inherit; /* Garde la même forme que le bouton */
  opacity: 0;
  background: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  background-size: 300% 100%;
  z-index: -1; /* Place l'effet sous le bouton */
  animation: borderAnimation 1.5s linear infinite;
  animation-play-state: paused;
  transition: opacity 0.3s ease-in-out;
}

/* Active l'effet au survol */
.btn-1:hover::before {
  opacity: 1;
  animation-play-state: running;
}

/* Animation de déplacement */
@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
